.carrusel{
    height: 535px;
    width: 620px;
}
#info{
    background-color: #80878d;
    color: #e5e5e5;
}
p{
    line-height: 30px;
    padding-left: 25px;
    padding-top: 6px;
    padding-right: 25px;
}
#fotos{
    padding-left: 0%;
}
#tab{
    padding-left: 0%;
    padding-right: 0;
}
