// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
// 3. Include remainder of required Bootstrap stylesheets
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../../node_modules/bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
@import "../../../../../node_modules/bootstrap/scss/utilities";
@import "../../../../../node_modules/bootstrap/scss/reboot";
@import "../../../../../node_modules/bootstrap/scss/type";
@import "../../../../../node_modules/bootstrap/scss/images";
@import "../../../../../node_modules/bootstrap/scss/containers";
@import "../../../../../node_modules/bootstrap/scss/grid";
@import "../../../../../node_modules/bootstrap/scss/helpers";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../../../../node_modules/bootstrap/scss/utilities/api";

// Create your own map
//CREAM UNA NOVA CLASE DE COLOR, AMB MAPEIG , CUSTOMIZAM//

$colors-personalitzats: (
        "iesmanacor": rgb(105, 38, 105),
        "primary": orange,
        "secondary": grey,
        "success" : #0dcaf0,
        "danger" : yellow,
        "warning" : red,
        "info" : #6610f2,
        "light": #d63384,
        "dark": #20c997

);
// Merge the maps
$theme-colors: map-merge($theme-colors, $colors-personalitzats);
/*$theme-colors-rgb: map-merge($theme-colors, $colors-personalitzats);
$utilities-bg-colors: map-merge($utilities-bg-colors, $colors-personalitzats);
$utilities-text-colors: map-merge($utilities-text-colors, $colors-personalitzats);*/
// importam tot boodsrrap x llevar el link de html
@import "../../../../../node_modules/bootstrap/scss/bootstrap";

// 6. Add additional custom code here
//ESTILS PERSONALITZATS
/*.iesmanacor{
    background-color: $yellow-400;
}*/