#foto{
    width:100%;
    height:80%;
    object-fit: contain;
}
.accordion-button{
    color: black !important;
    background-color: white !important;
    border-color: black !important;
    box-shadow:none !important;
}

.list-group :first-child{
    background-color: black;
    color: white;

}
#link3{
    position: relative !important;
}