p{
    margin-bottom: 0% !important; 
    padding-top: 0%; 
}

#link{
    position: relative !important;
}
.accordion-button{
    color: black !important;
    background-color: white !important;
    border-color: black !important;
    box-shadow:none !important;
}