<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compres d'art</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet">
    <link th:href="@{/css/estils.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <header th:include="/header :: header"></header>
    <main class="container">
        <section>
            <a class="btn btn-iesmanacor mt-3 mb-3" href="/home">Enrere</a>
            <h1>Taula de compres</h1>
        </section>
        <section class="container d-flex flex-nowrap mt-5 justify-content-center">
            <table id="table" class="display text-center col-12">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom de l'obra</th>
                        <th>Preu</th>
                        <th>Nom del comprador</th>
                        <th>Cognoms del comprador</th>
                        <th>Correu electrònic</th>
                        <th>Població</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </section>
    </main>
<script>
    $(document).ready( function () {
        var table = $('#table').DataTable({
            dom:'Bfrtip',
            language:{
                "url":"//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Catalan.json",
            },
            "columns":[
                { data: "idObres" },
                { data: "nomO" },
                { data: "preu" },
                { data: "nomU" },
                { data: "cognoms" },
                { data: "email" },
                { data: "nomP" }
            ]
        });
        $.ajax({
            url:"/compres/2",
            dataType:"json",
            success:function(json){
                console.log(json);
                table.rows.add(json).draw();
            }
        })
    } );
</script>
</body>
</html>