<!DOCTYPE html>
<html lang="es" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet">
</head>
<body>
    <header th:include="/header :: header" ”></header>
    <main>
        <div class="container mt-3">
            <div class="d-flex justify-content-start">
                <button type="button" class="btn btn-outline-iesmanacor" id="addGaleria">Nova Galeria</button>
            </div>
        </div>
        <div class="container d-flex justify-content-center mt-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="card col-4 mb-3" th:each="galeria:${llista}">
                        <img th:src="@{${'/img/'+galeria.idGaleria+'.jpg'}}" onerror="this.onerror=null;this.src='/img/default.png';">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${galeria.nom}"></h5>
                            <a th:href="@{'/perfil/'+${galeria.idGaleria}}" class="btn btn-outline-iesmanacor">Perfil</a>
                            <a th:href="@{'/eliminar/'+ ${galeria.idGaleria}}" class="btn btn-outline-iesmanacor">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" id="addNewGaleria">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Nova Galeria</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/add" class="needs-validation" novalidate >
                            <div class="input-group mb-3">
                                <span for="nom" id="nom" class="input-group-text col-2">Nom</span>
                                <input type="text" class="form-control" name="nom" aria-describedby="nom" required>
                            </div>
                            <div class="input-group mb-3">
                                <span for="nom" id="poblacio" class="input-group-text col-2">Poblacio</span>
                                <select aria-describedby="poblacio" class="form-select" name="pob" required>
                                    <option value="">Selecciona</option>
                                    <option th:each="poblacio:${poblacions}" th:value="${poblacio.idPoblacio}" th:text="${poblacio.nom}"></option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <span for="email" id="correu" class="input-group-text col-2">Correu</span>
                                <input type="email" aria-describedby="correu" class="form-control" id="email" name="email" required>
                            </div>
                            <button type="submit" class="btn btn-outline-iesmanacor">Crear</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
</body>
</html>