img{
  height: 250px;
}
.img{
  height: 200px;
}
a{
  text-decoration: none;
  color: black;

}
a:hover{
  color: black;
}
html,body{
  background-color: #EEEEEE;
}
header{
  background-color: rgb(227, 226, 226);
}
