html,section{
    background: url(../img/registre.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;

}
#formulari{
    padding-top: 60px;
}
header{
    background-color: rgb(227, 226, 226);
}